@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./fonts";

html {
	font-size: calc(1em + 1vw);
}
@media only screen and (min-width: 992px) {
	html {
		font-size: inherit;
		body {
			h1, h2 {
				text-align: left;
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	html {
		font-size: inherit;
		body {
			h1, h2 {
				text-align: left;
			}
		}
	}
}
@media print {
	html {
		font-size: inherit;
		body {
			h1, h2 {
				text-align: left;
			}
			h1 {
				font-size: 3rem;
			}
			h2 {
				font-size: 2rem;
			}

			#resume-links {
				grid-template-columns: repeat(3, minmax(0, 1fr));
				margin-bottom: 0;
			}
			
			#profile {
				p {
					padding: 0em 1em 0em 0em;
				}
			}

			#skills {
				h4 {
					white-space: nowrap;
					font-size: 1.25em;
				}
			}
		}
	}
	@page { 
		size: auto;
		margin-top: 20mm;
	}
	.col-print-1 {width:8%;  float:left;}
	.col-print-2 {width:16%; float:left;}
	.col-print-3 {width:25%; float:left;}
	.col-print-4 {width:33%; float:left;}
	.col-print-5 {width:42%; float:left;}
	.col-print-6 {width:50%; float:left;}
	.col-print-7 {width:58%; float:left;}
	.col-print-8 {width:66%; float:left;}
	.col-print-9 {width:75%; float:left;}
	.col-print-10{width:83%; float:left;}
	.col-print-11{width:92%; float:left;}
	.col-print-12{width:100%; float:left;}

	body #edu > ol > li div em {
		font-size: 1em;
	}
}

body {
	h1 span,
	h2 span,
	h4 {
		font-family: "Oswald", sans-serif;
	}
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-family: 'Noto Sans Mahajani', sans-serif;
	}
	h1 {
		font-weight: 400;
		font-size: 2rem;
		font-variant-caps: all-small-caps;
		white-space: nowrap;
		em {
			font-style: normal;
			font-weight: 200;
		}
	}
	h2 {
		padding-top: 0.1em;
		font-weight: 200;
		font-size: 1.25rem;
		line-height: 2em;
	}
	h1, h2 {
		text-align: center;
		span {
			vertical-align: baseline;
		}
	}
	h3 {
		font-weight: 100;
		line-height: 1.5;
		margin: 0.5rem 0rem;
	}
	h4 {
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		line-height: 1.5;
	}

	p {
		padding: 0em;
		text-align: justify;
		font-family: "Jost*", Helvetica, Arial, sans-serif;
	}
	#skills li, span {
		font-family: "Jost*", Helvetica, Arial, sans-serif;
	}
	
	#download-links {
		position: static;
		text-align: right;
		line-height: 3em;
		margin-bottom: 0em;
		font-size: small;
	}
	@media only screen and (min-width: 992px) {
		#download-links {
			position: fixed;
			top: 1em;
			right: 2em;
		}
	}
	
	#contact,
	#resume-links {
		text-align: center;
		margin-left: 0em;
		margin-right: 0em;
		display: grid;
		gap: 1rem;
		font-size:medium;
		justify-items: center;
		li {
			font-family: "Jost*", Helvetica, Arial, sans-serif;
			display: inline;
			span {
				color: initial;
			}
			a {
				font-style: normal;
				font-weight: lighter;
				em {
					font-weight: initial;
				}
			}
		}
	}
	#resume-links {
		padding: 0.5em 0em;
		border-top: 1px solid;
		border-bottom: 1px solid;
		gap: 0.5rem;
	}
	#contact {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
	}
	
	#profile {
		p {
			padding: 0em;
		}
	}
	@media only screen and (min-width: 992px) {
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2rem;
		}
		
		.headline {
			display:flex;
			flex-direction: row;
		}

		#resume-links {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		
		#profile {
			p {
				padding: 0em 1em 0em 0em;
			}
		}
	}
	
	#skills {
		ul {
			padding: 0em;
			li {
				list-style: none;
				// text-align: justify;
				// font-size: small;
				margin-bottom: 0.5em;
			}
		}
	}
	
	#who-am-i {
		page-break-inside: avoid;
	}

	#oss {
		page-break-inside: avoid;
		> a {
			text-align: right;
			display: block;
		}
		> span {
			position: relative;
			top: -0.7em;
			font-size: 1em;
			text-align: center;
		}
		ul {
			li {
				padding-bottom: 0.5em;
				span {
					color: initial;
					font-weight: normal;
				}
				a {
					text-decoration: none;
				}
				.fa-li.fa-stack {
					position: absolute;
					left: -3em;
					@extend .d-print-none;
				}
			}
		}
		> div {
			margin-left: -2.5em;
		}
		> p {
			padding: 0em;
		}
	}

	section + section {
		margin-top: 2em;
	}
	
	#positions,
	#edu {
		h3 {
			text-align: left;
		}
		ol {
			padding-inline-start: 0em;
			margin-block-start: 0em;
			li {
				page-break-inside: avoid;
				list-style: none;
				display: flex;
				flex-direction: column;
				div {
					display: flex; 
					flex-direction: row;
					gap: 0.75rem;
					align-items: baseline;
					h4 {
						white-space: nowrap;
						display: inline;
						font-weight: 200;
					}
					.em-wrapper {
						flex-grow: 1;
					}
					em {
						flex-grow: 1;
						font-family: "Oswald", sans-serif;
						font-weight: 400;
						font-size: 1.2em;
						font-style: normal;
						span {
							font-family: "Oswald", sans-serif;
							font-weight: lighter;
							text-wrap: nowrap;
							font-size: 1em;
						}
					}
					ol.period {
						line-height: 2em;
						white-space: nowrap;
						li {
							display: inline;
						}
						li + li:before {
							content: "-";
							margin: 0em 0.25em;
						}
					}
				}
				p {
					flex-grow: 1;
					width: 100%;
					padding: 0.5em 0em 0em 0em;
				}
				p + p {
					padding: 0em;
				}
				&#earlierExperience {
					ol {
						padding: 1em 0em 0em 0em;
						&.period {
							padding: 0em;
						}
						li {
							list-style: none;
							h4 {
								display: inline;
								font-weight: 100;
							}
							em {
								display: inline;
								font-family: "Oswald", sans-serif;
								font-weight: 300;
								font-style: normal;
								// padding-left: 1em;
								span {
									font-family: "Oswald", sans-serif;
									// font-weight: normal;
									text-wrap: nowrap;
									font-size: 1em;
								}
							}
							p {
								padding: 0.5em 0em 0em 0em;
							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 450px) {	
		#positions {
			ol {
				li, li#earlierExperience {
					div {
						em {
							display: block;
						}
					}
				}
			}
		}
	}

	@media only screen and (min-width: 992px) {
		#positions,
		#edu {
			> ol {
				> li {
					div {
						.em-wrapper {
							display: inline;
						}
						p {
							padding: 0.5em 0em 0em 1em;
						}
						p + p {
							padding: 0em 0em 0em 1em;
						}
					}
				}
			}
		}
	}
	
	#edu {
		page-break-inside: avoid;
		> ol {
			> li {
				margin: 0em;
				div {
					display: flex;
					flex: 1;
					flex-wrap: wrap;
					flex-direction: row;
					align-items: flex-start;
					gap: 0.25rem;
					em, h5 {
						font-family: "Oswald", sans-serif;
					}
					em {
						flex: 0 0 100%;
						font-weight: 400;
						font-size: 1.25em;
						font-style: normal;
					}
					h5 {
						flex: 1 0 auto;
						font-weight: 100;
						font-style: normal;
					}
				}
				p {
					padding: 1em 0em;
				}
			}
		}
	}
	
	.sidebar {
		p {
			padding: 0em;
		}
	}
}
